
body {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    background-image: 
}

.jumbotron {
    margin-top: 20px;
    background-color: dodgerblue;
    color: white;
    font: lato;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    
}
.card-header {
    font-family: 'Lato', sans-serif;
    background-color: dodgerblue;
    color: white;
    font-size: 22px;
}
.card-body {
    background-color: dodgerblue;
    color: white;
    
}

button {
    background-color: black;
    color: white;
}

.card {
    display: inline-block;
    width: auto;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}